body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

#hero {
    background-color: #ecf0f1;
    text-align: center;
    padding: 2em;
}

#services {
    padding: 2em;
}

#contact {
    background-color: #ecf0f1;
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.display-4{
    margin-top: 100px;
}